* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body > h1 {
    padding: 20px;
    text-align: center;
}

body > div {
    width: 200px;
    border: 1px solid #333;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    float: left;
    
}
body > div:hover {
    background: #333;
} 

div > img {
    width: 100%;
    border-radius: 10px;
}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
 
.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 20px;
    text-align: center;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}